{cover_enabled, true}.
{erl_opts, [
  debug_info,
  fail_on_warning
]}.

{deps, [
  {lager, "2.1.1", {git, "https://github.com/basho/lager.git", {tag, "2.1.1"}  }},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "master"}}
]}.


{relx, [{release, {lager_logstash_backend, "1"}, [lager_logstash_backend]},
         {dev_mode, true},
         {include_erts, false},
         {extended_start_script, true}
         ]}.