[
 %% kernel config
 {kernel, [{start_timer, true}]},

 %% SASL config
 {sasl, [
         {utc_log, true},
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 104857600},   % 100 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

%% Lager config
 {lager, [
   {handlers,
    [
      {lager_console_backend, warning},
      {lager_file_backend,
       [
         {"log/error.log", error, 104857600, "$D0", 5},
         {"log/timing.log", none, 104857600, "$D0", 5},
         {"log/ttserver.log", debug, 104857600, "$D0", 5}
       ]},
      {lager_logstash_backend, [
        {level,        info},
        {logstash_host, "127.0.0.1"},
        {logstash_port, 9125},
        {node_role,    "xmpp"},
        {node_version, "0.0.1"}
      ]}
    ]}
 ]}
].
