[
 %% kernel config
 {kernel, [{start_timer, true}]},

 %% SASL config
 {sasl, [
         {utc_log, true},
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 104857600},   % 100 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

%% Lager config
 {lager, [
   {handlers,
    [
      {lager_file_backend, [{file, "log/console.log"}, {level, info}]},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/warning.log"}, {level, warning}]},
      {lager_logstash_backend, [
        {level,        info},
        {logstash_host, "127.0.0.1"},
        {logstash_port, 9125},
        {node_role,    "sample_role"},
        {node_version, "0.0.1"}
      ]},
      {lager_console_backend, info}
    ]}
 ]}
].
